
/* footer style*/

div a .footer-contain{
	text-decoration: none;
	list-style: none;
	text-align: center;
}
div a :hover{
	color:black;
}
h4{
	text-align: center;
}

/* corousel-banner style */

.carousel-item{
	margin-top: 50px;
}
